@charset "UTF-8";

* {
	font-family: 'Inter', sans-serif;
}

/* header */
#header {
	display: grid;
	height: 70px;
	margin: 30px 30px;
	grid-template-columns: 275px repeat(auto-fill, minmax(175px, 1fr)) 250px;
	grid-template-rows: 70px;
	align-items: center;
	border-radius: 50px;
	overflow: hidden;
	background-color: #D9D9D9;
}

.header__usuario {
	display: flex;
	justify-content: left;
	align-items: center;
	margin: 0 0 0 30px;
	height: 100%;
}

.header__usuario_imagen {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	object-fit: cover;
}

.header__usuario_info {
	display: flex;
	flex-direction: column;
	font-size: 12px;
	padding: 0 0 0 15px;
}

.header__nav {
	display: flex;
	justify-content: center;
	width: 100%;
	font-size: 14px;
	font-weight: 600;
	color: #4C4C4C;
}

.header__nav--seleccionado {
    position: relative;
}

.header__nav--seleccionado::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #4C4C4C;
    border-radius: 0 0 10px 10px;
}

.header__nav:hover {
	background-color: rgb(205, 205, 205);
}

.header__nav--last {
	grid-column: -2;
}

.nav__bloque {
	display: flex;
	height: 70px;
	justify-content: space-evenly;
	align-items: center;
	padding: 0 15px;
	gap: 15px;
	cursor: pointer;
}


/* main */

#main {
	display: flex;
	margin: 30px 50px;
}

/* footer */

#footer {
	display: flex;
	margin: 0 50px;
}