@charset "UTF-8";

.buscarHistoria-form {
	display: flex;
	flex-direction: column;
	height: 540px;
	width: 30vw;
	margin: 0 25px 0 0;
}

.buscarHistoria-form__barra {
	display: flex;
	align-items: center;
	height: 35px;
	margin-bottom: 15px;
	border-radius: 20px;
	background-color: #D9D9D9;
}

.buscarHistoria-form__input {
	padding: 0 7px;
	border: 0;
	outline: none;
	height: 100%;
	width: 87%;
	background-color: transparent;
}

.buscarHistoria-form__boton {
	margin: 0 7px 0 10px;
	width: 20px;
	height: 20px;
	opacity: .7;
}

.buscarHistoria-form__tabla-contenedor {
	height: 510px;
	margin-top: 15px;
	border-radius: 5px;
	font-size: 14px;
	overflow-y: auto;
	background-color: #D9D9D9;
}

.buscarHistoria-form__tabla {
	margin-top: 7px;
	font-size: 14px;
	width: 100%;
}

/**/


.historiasClinicas-form {
	display: flex;
	flex-direction: column;
	height: 540px;
	width: 70vw;
	margin: 0 0 0 25px;
}

.historiasClinicas-form__barra-botones {
	display: flex;
	flex-wrap: nowrap;
	height: 35px;
	gap: 15px;
	align-items: center;
}

.historiasClinicas-form__bloque-boton {
	display: flex;
	align-items: center;
	height: 35px;
	padding: 0 20px;
	gap: 15px;
	border-radius: 20px;
	font-size: 14px;
	color:  #4C4C4C;
	background-color: #D9D9D9;
	cursor: pointer;
}

.historiasClinicas-form__bloque-boton:hover {
	background-color: #C9C9C9;
}

.historiasClinicas-form__bloque-boton--last {
	margin-left: auto; 
}

.historiasClinicas-form__selectMenu {
	height: 55px;
	border: 0;
	margin: 0 15px 0 -7.5px;
	padding: 0 0 0 7.5px;
	color:  #4C4C4C;
	background-color: transparent;
	cursor: pointer;
}

.historiasClinicas-form__selectMenu:focus {
	outline: none;
}

.historiasClinicas-form__boton {
	background-color: transparent;
	border: 0;
	margin-right: 15px;
	color:  #4C4C4C;
	cursor: pointer;
}


.historiasClinicas-form__campos {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	height: 510px;
	margin: 30px 0 0;
	border-radius: 5px;
	padding: 20px 20px 10px;
	background-color:  #D9D9D9;
}

.bloque__campos-descripcion {
	display: flex;
	flex-wrap: wrap;
	column-gap: 20px;
}

.bloque__campos-descripcion--mitad {
	width: 41%;
}

.bloque__campos-descripcion--columna {
	flex-direction: column;
}

.bloque__campos-titulo {
	width: 100%;
	margin: 0 0 15px;
}

.bloque__campos {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	color:  #4C4C4C;
}

.bloque__campos--fila {
	flex-direction: row;
	gap: 10px;
	width: 100%;
}

.bloque-checkboxs {
	display: grid;
	grid-template-columns: 1fr 15px 1fr 15px 1fr 15px 1fr 15px;
	gap: 2.5px 5px;
	margin-bottom: 10px;
	color:  #4C4C4C;
}

.bloque__campos--guardar {
	flex-grow: 0;
}

.campos__input {
	height: 30px;
	border-radius: 5px;
	padding: 0 7px;
	border: 0;
	outline: none;
	margin: 0 0 10px;
}

.campos__input--fila {
	width: 100%;
}

.campos__output {
	height: 20px;
	font-size: 13px;
}

.campos__selectMenu {
	height: 30px;
	border: 0;
	border-radius: 5px;
	padding: 0 0 0 7.5px;
	color:  #4C4C4C;
	background-color: #FFF;
	cursor: pointer;
}

.campos__selectMenu:focus {
	outline: none;
}

.campos__radioGroup tbody{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 7px;
	font-size: 14px;
}

.campos__radioGroup input{
	width: 15px;
	height: 15px;
}

.campos__checkbox {
	height: 15px;
	width: 15px;
}

.campos__boton {
	height: 30px;
	margin-top: auto;
	margin-bottom: 10px;
	border-radius: 5px;
	width: 150px;
	border: 0;
	color: #FFF;
	background-color: #4C4C4C;
	cursor: pointer;
}













