@charset "UTF-8";

.detallarInforme-form {
	display: flex;
	flex-direction: column;
	height: 540px;
	width: 30vw;
	padding: 20px;
	margin: 0 25px 0 0;
	border-radius: 5px;
	padding: 20px;
	background-color:  #D9D9D9;
}


.bloque__campos-descripcion {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	width: 100%;
}

.bloque__campos-titulo {
	width: 100%;
	margin: 0 0 15px;
}

.bloque__campos {
	display: flex;
	flex-direction: column;
	color:  #4C4C4C;
}

.campos__input {
	height: 30px;
	border-radius: 5px;
	padding: 0 7px;
	border: 0;
	outline: none;
	margin: 0 0 15px;
}

.campos__textarea {
	height: 300px;
	padding: 7px;
}

.campos__output {
	height: 25px;
	font-size: 13px;
}

.campos__checkbox {
	height: 15px;
	width: 15px;
	margin: 0 7px 0 0;
}

.campos__boton {
	height: 40px;
	width: 100%;
	margin: 15px 0;
	border-radius: 5px;
	border: 0;
	color: #FFF;
	background-color: #4C4C4C;
	cursor: pointer;
}




.vistaPreviaInforme-form {
	display: flex;
	flex-direction: column;
	height: 540px;
	width: 70vw;
	margin: 0 0 0 25px;
}

.vistaPreviaInforme-form__barra-botones {
	display: flex;
	flex-wrap: nowrap;
	height: 35px;
	gap: 15px;
	align-items: center;
}

.vistaPreviaInforme-form__bloque-boton {
	display: flex;
	align-items: center;
	height: 35px;
	padding: 0 20px;
	gap: 15px;
	border-radius: 20px;
	font-size: 14px;
	color:  #4C4C4C;
	background-color: #D9D9D9;
	cursor: pointer;
}

.vistaPreviaInforme-form__bloque-boton:hover {
	background-color: #C9C9C9;
}

.vistaPreviaInforme-form__bloque-boton--last {
	margin-left: auto; 
}

.vistaPreviaInforme-form__selectMenu {
	height: 55px;
	border: 0;
	margin: 0 15px 0 -7.5px;
	padding: 0 0 0 7.5px;
	color:  #4C4C4C;
	background-color: transparent;
	cursor: pointer;
}

.vistaPreviaInforme-form__selectMenu:focus {
	outline: none;
}

.vistaPreviaInforme-form__boton {
	background-color: transparent;
	border: 0;
	margin-right: 15px;
	color:  #4C4C4C;
	cursor: pointer;
}


.vistaPreviaInforme-form__campos {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	gap: 15px;
	height: 510px;
	margin: 30px 0 0;
	border-radius: 5px;
	padding: 20px;
	background-color:  #D9D9D9;
}

.vistaPreviaInforme-form__tabla-contenedor {
	display: flex;
	overflow: hidden;
}
.bloque__tabla {
	display: flex;
	width: 100%;
	background-color: rebeccapurple;
}










