@charset "UTF-8";

.buscarMedico-form {
	display: flex;
	flex-direction: column;
	height: 540px;
	width: 30vw;
	margin: 0 25px 0 0;
}

.buscarMedico-form__barra {
	display: flex;
	align-items: center;
	height: 35px;
	margin-bottom: 15px;
	border-radius: 20px;
	background-color: #D9D9D9;
}

.buscarMedico-form__input {
	padding: 0 7px;
	border: 0;
	outline: none;
	height: 100%;
	width: 87%;
	background-color: transparent;
}

.buscarMedico-form__boton {
	margin: 0 7px 0 10px;
	width: 20px;
	height: 20px;
	opacity: .7;
}

.buscarMedico-form__tabla-contenedor {
	height: 510px;
	margin-top: 15px;
	border-radius: 5px;
	font-size: 14px;
	overflow-y: auto;
	background-color: #D9D9D9;
}

.buscarMedico-form__tabla {
	font-size: 14px;
	width: 100%;
}


.buscarMedico-form__tabla thead tr {
	display: grid;
	grid-template-columns: repeat(3, minmax(50px, 1fr));
	grid-template-rows: 30px;
	align-items: center;
	padding: 4px;
	border-bottom: 1px solid #ACACAC;
}

.buscarMedico-form__tabla tbody tr{
	display: grid;
	grid-template-columns: repeat(3, minmax(50px, 1fr));
	grid-template-rows: 30px;
	align-items: center;
	padding: 4px 8px;
	border-bottom: 1px solid  #ACACAC;
	color:  #4C4C4C;
	background-color:  #ECECEC;
	cursor: pointer;
}



/**/


.administrarCuenta-form {
	display: flex;
	flex-direction: column;
	height: 540px;
	width: 70vw;
	margin: 0 0 0 25px;
}

.administrarCuenta-form__barra-botones {
	display: flex;
	flex-wrap: nowrap;
	height: 35px;
	gap: 15px;
	align-items: center;
}

.administrarCuenta-form__bloque-boton {
	display: flex;
	align-items: center;
	height: 35px;
	padding: 0 20px;
	gap: 15px;
	border-radius: 20px;
	font-size: 14px;
	color:  #4C4C4C;
	background-color: #D9D9D9;
	cursor: pointer;
}

.administrarCuenta-form__bloque-boton:hover {
	background-color: #C9C9C9;
}

.administrarCuenta-form__bloque-boton--last {
	margin-left: auto; 
}

.administrarCuenta-form__boton {
	background-color: transparent;
	border: 0;
	margin-right: 15px;
	color:  #4C4C4C;
	cursor: pointer;
}


.administrarCuenta-form__campos {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	gap: 15px;
	height: 510px;
	margin: 30px 0 0;
	border-radius: 5px;
	padding: 20px;
	background-color:  #D9D9D9;
}

.bloque__campos-descripcion {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 15px;
	width: 100%;
}

.bloque__campos-titulo {
	width: 100%;
}

.bloque__campos {
	display: flex;
	flex-direction: column;
	min-width: 350px;
	flex-grow: 1;
	color:  #4C4C4C;
}

.campos__input {
	height: 30px;
	border-radius: 5px;
	padding: 0 7px;
	border: 0;
	outline: none;
	margin: 0 0 15px;
}

.campos__output {
	height: 25px;
	font-size: 13px;
}

.campos__checkbox {
	height: 15px;
	width: 15px;
	margin: 0 7px 0 0;
}

.campos__boton {
	height: 40px;
	width: 100%;
	margin: 15px 0;
	border-radius: 5px;
	border: 0;
	color: #FFF;
	background-color: #4C4C4C;
	cursor: pointer;
}












